<%- include ('../partials/header'); %>


  
    <div class="container">
        <h1>Welcome to the Thesaurus!</h1>
        <form action="/result" method="get">
          <h3>What word do you want to thesaurize?</h3>
          <input id="word" type="text" name="word" placeholder="Enter Word Here" />
          <input type="submit" value="Submit" />
        </form>
    </div>

  <footer> <%- include('../partials/footer'); %></footer>
